@import url('https://fonts.cdnfonts.com/css/linux-libertine-o');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

body {
  color: #222;
  font-family: 'Linux Libertine O', serif;
  font-size: 15pt;
  line-height: 1.2;
  margin: 1rem;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  padding: 0px 10px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
  font-variant: small-caps;
}
.header-box {
  background-color: #eef;
  margin: 1em 1em;
  padding: 0.2em 1em;
}
.site-title {
  font-size: 48pt;
  margin-bottom: 0.2em;
}
.post-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.post-list-date {
  float: right;
}

nav {
  padding: 0;
  text-align: center;
}

nav li {
  display: inline-block;
}

nav a {
  text-decoration: none;
  background: #eee;
  color: #222;
  padding: 5px;
  border-radius: 5px;
}

.menu,
.article-meta,
footer {
  text-align: center;
}

footer {
  font-size: 10pt;
  color: #666;
  font-style: italic;
}

.social-links {
  text-align: center;
  margin-bottom: 2em;
}

.social-links a {
  text-decoration: none;
  padding: 0.2em;
}

.social-links box-icon {
  width: 32px;
  height: 32px;
}


/* post stuff */
main>mjx-container {
  background-color: lightblue;
  padding: 0.8em 0em;
  border-radius: 6px;
}

code {
  font-size: 15px;
}