/* for print */

@media screen {
  .only-print {
    display: none;
  }
}

@media print {
  header,
  footer,
  .no-print {
    display: none;
  }

  body {
    line-height: 1.1;
    font-size: 1rem;
    display: block;
  }

  p {
    margin: 0.5rem 0;
  }

  dt {
    margin-top: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
    border-bottom: 0.15rem solid #555;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 0.96rem;
  }

  a,
  a:visited {
    text-decoration: none;
    color: black;
  }

  ul {
    list-style: none
  }
}
