body {
  -webkit-text-size-adjust: 100%;
  /* prevent Mobile Safari from adjusting font sizes */
}

nav a.current {
  color: var(--accent) !important;
  border-color: var(--accent) !important;
}

div.pagination {
  display: flex;
  justify-content: space-between;
}

ul.blog-posts {
  padding-left: 0;
}

ul.blog-posts>li {
  list-style-type: none;
  display: flex;
}

ul.blog-posts>li span {
  flex: 0 0 130px;
  color: var(--text-light);
}

nav#TableOfContents>ul {
  margin-block-start: 0;
}

main>p:first-child time {
  color: var(--text-light);
}

.icon {
  vertical-align: sub;
  padding-right: 0.25rem;
  display: inline-block;
  width: 1em;
  height: 1.3em;
  margin-right: 0.2rem;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

pre span {
  color: #cdd6f4;
}

footer a {
  text-decoration: none;
  color: black;
}

/* hide empty table heads */
thead th:empty {
  display: none;
}

/* for print */

@media screen {
  .only-print {
    display: none
  }
}

@media print {

  header,
  footer,
  .no-print {
    display: none;
  }

  body {
    line-height: 1.1;
  }

  p {
    margin: 0.5rem 0;
  }

  dt {
    margin-top: 1rem;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: darkblue;
    text-align: center;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.6rem;
    margin-top: 0.5rem;
  }

  h3 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1.1rem;
  }

  h6 {
    font-size: 0.96rem;
  }

  a, a:visited {
    text-decoration: none;
    color: black;
  }
}